/*タブレット*/

@media (min-width: 768px) {
	.sns-icon {
		width: 18%;
	}
	span.fa-2x {
		font-size: 3em;
	}
}

/*PC*/

@media (min-width: 1024px) {
	body {
		max-width: 1024px;
		margin: 0 auto;
	}
	.forsp {
		display: none;
	}
	.forpc {
		display: flex;
		width: 100%;
		max-width: 1024px;
		height: 70px;
		background: white;
		margin: 0 auto;
		position: fixed;
    	top: 0;
    	z-index: 10;
    	border-bottom: 1px solid #666;
	}
	.verdana-title {
		font-size: 40px;
	}
	.nav-lists {
		width: 50%;
	    margin: 0 auto;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding: 0px 0px 0px 0px;
	    cursor: pointer
	}
	.nav-list {
		font-size: 30px;
	}
	.nav-list:hover {
		border-bottom: 2px solid;
	}
	.Company {
		text-align: center;
		height: 750px;
    	margin: 400px 0 250px 0;
	}
	.main-title {
		font-size: 60px;
	}
	.sub-title {
		font-size: 30px;
	}
	.vision {
		font-size: 20px;
	}
	.Servise-container {
		font-size: 20px;
	}
	.Offer-container {
		font-size: 20px;
		margin: 0 auto 250px auto;
	}
	.Contact {
		margin: 0 auto 200px auto;
	}
	input {
		width: 40%;
		height: 40px;
	}
	textarea {
		width: 40%;
		height: 80px;
	}
	.button {
		width: 30%;
	}
	footer {
		height: 700px;
	}
	.Producer {
		font-size: 40px;
	}
	.Producer-name {
		font-size: 25px;
	}
	.sns-icon{
		width: 18%;
	}
	span.fa-2x {
		font-size: 4.4em;
	}
