/*タブレット*/

@media (min-width: 768px) {
	.sns-icon {
		width: 18%;
	}
span.fa-2x {
		font-size: 3em;
	}
}

/*PC*/

@media (min-width: 1024px) {
	.verdana-title {
		font-size: 40px;
	}
	.nav-list {
		font-size: 30px;
	}
	header {
		height: 400px;
		margin: 300px 0 300px 0;
	}
	.main-title {
		font-size: 60px;
	}
	.sub-title {
		font-size: 30px;
	}
	.vision {
		font-size: 20px;
	}
	.Servise-container {
		font-size: 20px;
	}
	.Offer-container {
		font-size: 20px;
	}
	.Contact {
		margin: 0 auto 200px auto;
	}
	input {
		width: 40%;
		height: 40px;
	}
	textarea {
		width: 40%;
		height: 80px;
	}
	.button {
		width: 30%;
	}
	.Producer {
		font-size: 40px;
	}
	.Producer-name {
		font-size: 25px;
	}
	.sns-icon{
		width: 18%;
	}
	span.fa-2x {
		font-size: 4.4em;
	}
