li {
	list-style: none;
}
.verdana {
	font-family: verdana;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
}
nav {
	display: flex;
	height: 40px;
}
.nav-lists {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 16px;
	margin: 0;
	padding: 10px 20px 0 20px;
	cursor: pointer;
}
.nav-list:hover {
	border-bottom: 2px solid;
}
header {
	text-align: center;
	height: 400px;
	margin: 200px 0 250px 0;
}
.main-title {
	font-size: 30px;
}
.sub-title {
	font-size: 15px;
}
.About {
	text-align: center;
}
.vision {
	font-size: 14px;
	width: 80%;
	margin:0 auto;
	line-height: 2.3;
	margin-bottom: 130px;
}
.Servise-container {
	font-size: 14px;
	width: 80%;
	margin:0 auto;
	line-height: 2.3;
	margin-bottom: 130px;
}
.Offer {
	text-align: center;
}
.Offer-container {
	font-size: 14px;
	width: 80%;
	margin:0 auto;
	line-height: 2.3;
	margin-bottom: 130px;
}
ul {
	padding: 0;
}
li {
	margin-bottom: 50px;
}
.Salary {
	line-height: 3;
}
.Contact {
	width: 80%;
	margin: 0 auto 100px  auto;
	text-align: center;
}
.block {
	text-align: center;
}
.Contact-container {
	height: 200px;
}
input,textarea {
	width: 60%;
	height: 20%;
	margin-bottom: 10px;
}
footer {
	text-align: center;
	height: 500px;
}
.icon {
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
	border-color: white;
}
.Producer {
	font-size: 25px;
}
.sns {
	width: 100%;
	justify-content: space-between;
}
.a {
	display: inline-block;
	width: 10%;
	color: black;
}
.mark {
	margin-top:150px;
}


